<footer class="site-footer">
  <a href="https://www.instagram.com/a90_gouf/" target="_blank" rel="noopener noreferrer" class="footer-ig">

    <svg viewBox="0 0 24 24" class="footer-ig-icon">
      <path fill="currentColor"
      d="M7.8 2h8.4C19.9 2 22 4.1 22 6.8v8.4c0 3.7-2.1 5.8-5.8 5.8H7.8C4.1 21 2 18.9 2 15.2V6.8C2 4.1 4.1 2 7.8 2zm0 2C5.6 4 4 5.6 4 7.8v8.4C4 18.4 5.6 20 7.8 20h8.4c2.2 0 3.8-1.6 3.8-3.8V7.8C20 5.6 18.4 4 16.2 4H7.8zm4.2 3.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 0 1 12 7.5zm0 2A2.5 2.5 0 1 0 14.5 12 2.5 2.5 0 0 0 12 9.5z"/>
    </svg>

    <span>@a90_gouf</span>

  </a>

  <div class="footer-copy">
    © <span id="year"></span> Shots By Roca •
    <a
      href="https://github.com/winterbelle"
      target="_blank"
      rel="noopener"
      class="footer-credit"
    >
      Designed & Developed by WinterBelle Studio
    </a>
  </div>
</footer>
